/* TRANSITION */
/* line 3, ../sass/cart.scss */
.cart {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding-top: 70px;
  background: #fff;
}
/* line 8, ../sass/cart.scss */
.cart header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: default;
}
/* line 37, ../sass/_base.scss */
.cart header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 16, ../sass/cart.scss */
.cart header .goback {
  position: absolute;
  top: 0;
  left: 20px;
}
/* line 22, ../sass/cart.scss */
.cart h1 {
  text-align: center;
}
/* line 25, ../sass/cart.scss */
.cart footer {
  text-align: center;
  padding: 28px 0;
}
/* line 30, ../sass/cart.scss */
.cart .details-item {
  width: 400px;
  min-height: 120px;
}
/* line 33, ../sass/cart.scss */
.cart .details-item h2 {
  padding: 15px 0 0;
}
/* line 36, ../sass/cart.scss */
.cart .details-item p {
  padding: 0;
  line-height: 1.2;
}
/* line 41, ../sass/cart.scss */
.cart .details-img {
  width: 85px;
  height: 120px;
  margin-right: 30px;
  float: left;
  text-align: center;
}
/* line 47, ../sass/cart.scss */
.cart .details-img i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #f7f7f7;
  border: 1px solid #fff;
}
/* line 52, ../sass/cart.scss */
.cart .details-img i.iphone5 {
  width: 55px;
  height: 113px;
}
/* line 57, ../sass/cart.scss */
.cart .details-img i.ipad {
  width: 81px;
  height: 120px;
}
/* line 62, ../sass/cart.scss */
.cart .details-descr {
  overflow: hidden;
}
/* line 64, ../sass/cart.scss */
.cart .details-descr span {
  color: #8d8d8c;
}

/* line 70, ../sass/cart.scss */
.row_focus {
  background: #e1e1e1;
}

/* line 74, ../sass/cart.scss */
.overview {
  padding-top: 20px;
  background: #f1f1f1;
}
/* line 77, ../sass/cart.scss */
.overview .table {
  width: 100%;
  border-collapse: collapse;
}
/* line 81, ../sass/cart.scss */
.overview .cell {
  padding: 20px 30px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #d8d8d8;
}
/* line 86, ../sass/cart.scss */
.overview .cell:first-child {
  text-align: left;
  border-left: 0;
}
/* line 90, ../sass/cart.scss */
.overview .cell:last-child {
  border-right: 0;
}
/* line 94, ../sass/cart.scss */
.overview .thead .cell {
  padding: 0 30px;
  font-size: 12px;
  color: #666;
  border: 0;
}
/* line 100, ../sass/cart.scss */
.overview .counter, .overview .price {
  color: #999;
  font-size: 24px;
}
/* line 104, ../sass/cart.scss */
.overview .price.final {
  color: #29bbeb;
}
/* line 107, ../sass/cart.scss */
.overview .counter {
  position: relative;
  width: 40px;
}
/* line 110, ../sass/cart.scss */
.overview .counter a {
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 14px;
}
/* line 116, ../sass/cart.scss */
.overview .counter a.more {
  bottom: -35px;
  background: url('../img/common-s44788c206f.png') -24px -75px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 120, ../sass/cart.scss */
.overview .counter a.less {
  top: -35px;
  background: url('../img/common-s44788c206f.png') -11px -75px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 124, ../sass/cart.scss */
.overview .counter a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 131, ../sass/cart.scss */
.table_checkout {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
/* line 135, ../sass/cart.scss */
.table_checkout .cell {
  color: #888;
  height: 55px;
  vertical-align: middle;
}
/* line 140, ../sass/cart.scss */
.table_checkout .cell:first-child, .table_checkout .cell:last-child {
  width: 245px;
}
/* line 143, ../sass/cart.scss */
.table_checkout .cell:first-child {
  text-align: right;
  padding: 0 15px;
  width: 220px;
}
/* line 149, ../sass/cart.scss */
.table_checkout input.text {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  padding: 0 14px;
  width: 100%;
  border: 1px solid #dedede;
  position: relative;
  z-index: 10;
  color: #555;
}
/* line 159, ../sass/cart.scss */
.table_checkout input.text:focus {
  border: 1px solid #29bbeb;
}
/* line 162, ../sass/cart.scss */
.table_checkout input.text.med {
  width: 153px;
}
/* line 165, ../sass/cart.scss */
.table_checkout input.text.short {
  width: 71px;
  margin-right: 10px;
}
/* line 168, ../sass/cart.scss */
.table_checkout input.text.short:last-child {
  width: 70px;
  margin: 0;
}
/* line 174, ../sass/cart.scss */
.table_checkout .js-sel {
  position: relative;
  width: 100%;
}
/* line 177, ../sass/cart.scss */
.table_checkout .js-sel.js-sel_open {
  z-index: 50;
}
/* line 181, ../sass/cart.scss */
.table_checkout .error_block {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: none;
  height: 36px;
  line-height: 34px;
  background: #e1e1e1;
  color: #888;
  padding: 0 15px 0 18px;
  position: relative;
  left: -3px;
}
/* line 193, ../sass/cart.scss */
.table_checkout .input_error input.text {
  border-color: #eb4029;
}
/* line 196, ../sass/cart.scss */
.table_checkout .input_error .error_block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 202, ../sass/cart.scss */
.delivery {
  background: #f1f1f1;
}

/* line 206, ../sass/cart.scss */
.pay {
  background: #f1f1f1;
}
/* line 208, ../sass/cart.scss */
.pay .card_number .text {
  font-size: 20px;
  padding: 0;
  text-align: center;
}
/* line 214, ../sass/cart.scss */
.pay .card_expire .js-sel {
  width: 152px;
}
/* line 216, ../sass/cart.scss */
.pay .card_expire .js-sel:first-child {
  margin-right: 10px;
}
/* line 221, ../sass/cart.scss */
.pay .code-cv {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  width: 167px;
  height: 32px;
  background: transparent url(../img/code-cv.png) 0 0 no-repeat;
  margin: 2px 0 0 10px;
}

/* line 231, ../sass/cart.scss */
.type_tabs {
  display: table;
  width: 100%;
}
/* line 234, ../sass/cart.scss */
.type_tabs li {
  display: table-cell;
  border-collapse: collapse;
}
/* line 237, ../sass/cart.scss */
.type_tabs li:first-child a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 238, ../sass/cart.scss */
.type_tabs li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* line 240, ../sass/cart.scss */
.type_tabs a {
  display: block;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  height: 36px;
  line-height: 36px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: #b5b5b5;
  -webkit-box-shadow: inset 0 -2px 0 #9a9a9a;
  -moz-box-shadow: inset 0 -2px 0 #9a9a9a;
  box-shadow: inset 0 -2px 0 #9a9a9a;
}
/* line 251, ../sass/cart.scss */
.type_tabs .active a {
  background: #9a9a9a;
  -webkit-box-shadow: inset 0 2px 0 #838383;
  -moz-box-shadow: inset 0 2px 0 #838383;
  box-shadow: inset 0 2px 0 #838383;
}

/* line 257, ../sass/cart.scss */
.success {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background: #f1f1f1;
  padding: 20px 0;
}
/* line 261, ../sass/cart.scss */
.success big {
  display: block;
  width: 470px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  line-height: 1.4;
  color: #666;
  padding-bottom: 20px;
}
/* line 270, ../sass/cart.scss */
.success big strong {
  color: #222;
}
/* line 274, ../sass/cart.scss */
.success .text_logo-dark {
  display: block;
  margin: 0 auto 20px;
}
/* line 278, ../sass/cart.scss */
.success .items_block {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 470px;
  margin: 10px auto 30px;
  position: relative;
  background: #fff;
}
/* line 284, ../sass/cart.scss */
.success .items_block .tail {
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -12px;
}
/* line 296, ../sass/cart.scss */
.success .items_block .in {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}
/* line 299, ../sass/cart.scss */
.success .items_block .in:last-child {
  border: 0;
}
/* line 301, ../sass/cart.scss */
.success .items_block .details-item {
  margin: 0 auto;
}
