/* TRANSITION */
/* line 3, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 4, ../sass/common.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 5, ../sass/common.scss */
body {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  background: #f1f1f1;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
}
/* line 15, ../sass/common.scss */
body.bg_black {
  background: #191919;
}

/*resets*/
/* line 20, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 23, ../sass/common.scss */
a {
  color: #29bbeb;
  text-decoration: none;
}

/* line 29, ../sass/common.scss */
b {
  font-family: "ProximaNova-Bold", Arial, sans-serif;
  font-weight: normal;
}

/* line 33, ../sass/common.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 34, ../sass/common.scss */
input[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 35, ../sass/common.scss */
header, footer, article, nav, section {
  display: block;
}

/* line 36, ../sass/common.scss */
input[disabled="disabled"] {
  cursor: default;
}

/* line 38, ../sass/common.scss */
h1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  padding-bottom: 20px;
}

/* line 45, ../sass/common.scss */
h2 {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 20px;
}

/* line 51, ../sass/common.scss */
h3 {
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 20px;
  text-transform: uppercase;
}

/* line 59, ../sass/common.scss */
.hr {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  height: 0;
  border-top: 1px solid #303030;
}

/* line 65, ../sass/common.scss */
.table {
  display: table;
}

/* line 69, ../sass/common.scss */
.row {
  display: table-row;
}

/* line 73, ../sass/common.scss */
.cell {
  display: table-cell;
}

/* line 77, ../sass/common.scss */
.page {
  -moz-transition: padding-top 0.3s ease-in-out;
  -webkit-transition: padding-top 0.3s ease-in-out;
  -o-transition: padding-top 0.3s ease-in-out;
  -ms-transition: padding-top 0.3s ease-in-out;
  transition: padding-top 0.3s ease-in-out;
  min-width: 1200px;
  padding-top: 58px;
}
/* line 81, ../sass/common.scss */
.page p {
  padding-bottom: 20px;
}

/* line 86, ../sass/common.scss */
.outer {
  padding: 0 30px;
}
/* line 88, ../sass/common.scss */
.outer .ico_logo {
  position: absolute;
}

/* line 93, ../sass/common.scss */
.wrap {
  width: 1100px;
  margin: 0 auto;
}

/* line 98, ../sass/common.scss */
.top_content {
  position: fixed;
  z-index: 90;
  width: 100%;
}

/* line 105, ../sass/common.scss */
.top_fixed .top .cell {
  height: 40px;
}

/* line 110, ../sass/common.scss */
.top {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
  position: relative;
  z-index: 50;
}
/* line 116, ../sass/common.scss */
.top .table {
  width: 100%;
  position: relative;
}
/* line 120, ../sass/common.scss */
.top .cell {
  -moz-transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  display: table-cell;
  height: 58px;
  vertical-align: middle;
  text-align: center;
}
/* line 127, ../sass/common.scss */
.top .cell:first-child, .top .cell:last-child {
  width: 500px;
  text-align: left;
}
/* line 131, ../sass/common.scss */
.top .cell:last-child {
  text-align: right;
}

/* line 135, ../sass/common.scss */
.head_logo {
  background: url('../img/common-s7b16feaa36.png') 0 -69px no-repeat;
  width: 184px;
  height: 26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 139, ../sass/common.scss */
.text_logo-dark {
  background: url('../img/common-s7b16feaa36.png') 0 -509px no-repeat;
  width: 174px;
  height: 82px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 143, ../sass/common.scss */
.ico_logo {
  background: url('../img/common-s7b16feaa36.png') 0 -315px no-repeat;
  width: 49px;
  height: 49px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 147, ../sass/common.scss */
.ico_logo-dark {
  background: url('../img/common-s7b16feaa36.png') -104px 0 no-repeat;
  width: 49px;
  height: 49px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 151, ../sass/common.scss */
.ico_logo-big {
  background: url('../img/common-s7b16feaa36.png') 0 -674px no-repeat;
  width: 114px;
  height: 115px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 155, ../sass/common.scss */
.footer_logo {
  background: url('../img/common-s7b16feaa36.png') 0 -427px no-repeat;
  width: 174px;
  height: 82px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 160, ../sass/common.scss */
.nav {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  list-style: none;
}
/* line 163, ../sass/common.scss */
.nav li {
  display: block;
  font-size: 14px;
  float: left;
}
/* line 168, ../sass/common.scss */
.nav.top_menu {
  width: 600px;
}
/* line 172, ../sass/common.scss */
.nav.side_menu li {
  margin-left: 10px;
}
/* line 173, ../sass/common.scss */
.nav.side_menu .left {
  padding: 0 15px;
}
/* line 177, ../sass/common.scss */
.nav a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  color: #000;
}
/* line 185, ../sass/common.scss */
.nav .active a {
  -webkit-box-shadow: inset 0 2px 0 #9a9a9a;
  -moz-box-shadow: inset 0 2px 0 #9a9a9a;
  box-shadow: inset 0 2px 0 #9a9a9a;
  background: #b5b5b5;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 191, ../sass/common.scss */
.nav .create_link {
  background: #353535;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 196, ../sass/common.scss */
.nav .login_link {
  color: #666;
}
/* line 199, ../sass/common.scss */
.nav .s_arrow {
  background: url('../img/icons-s3e79710a1d.png') 0 -18px no-repeat;
  width: 12px;
  height: 12px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  vertical-align: middle;
  margin: -2px 0 0 4px;
}
/* line 206, ../sass/common.scss */
.nav .active .s_arrow {
  background: url('../img/icons-s3e79710a1d.png') -12px -18px no-repeat;
  width: 12px;
  height: 12px;
}
/* line 209, ../sass/common.scss */
.nav .ico-cart {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../img/common-s7b16feaa36.png') -22px -49px no-repeat;
  width: 15px;
  height: 12px;
}

/* line 216, ../sass/common.scss */
.promo {
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}
/* line 220, ../sass/common.scss */
.promo .outer {
  padding: 30px;
}
/* line 37, ../sass/_base.scss */
.promo .wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 226, ../sass/common.scss */
.promo h2 {
  padding-bottom: 50px;
}
/* line 229, ../sass/common.scss */
.promo h2 span {
  color: #fcb214;
}

/* line 234, ../sass/common.scss */
.text_left {
  float: left;
  width: 550px;
  margin-top: 110px;
}

/* line 239, ../sass/common.scss */
.text_right {
  float: right;
  width: 420px;
  margin-top: 180px;
}

/* line 245, ../sass/common.scss */
.promo_top {
  background-image: url(../img/promobg1.jpg);
  height: 610px;
  position: relative;
}
/* line 249, ../sass/common.scss */
.promo_top .promo_hand {
  position: absolute;
  background-image: url(../img/promo_hand.png);
  width: 583px;
  height: 547px;
  bottom: 0;
  left: 50%;
}
/* line 257, ../sass/common.scss */
.promo_top .work_with {
  font-size: 12px;
  width: 230px;
  position: absolute;
  top: 64px;
  left: 50%;
  margin-left: 326px;
  line-height: 1.1;
}
/* line 265, ../sass/common.scss */
.promo_top .work_with ul {
  list-style: none;
  padding-bottom: 10px;
}
/* line 37, ../sass/_base.scss */
.promo_top .work_with ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 269, ../sass/common.scss */
.promo_top .work_with ul li {
  float: left;
  margin-right: 12px;
}
/* line 274, ../sass/common.scss */
.promo_top .work_with i {
  display: block;
}

/* line 280, ../sass/common.scss */
.top-fb {
  background: url('../img/icons-s3e79710a1d.png') -18px 0 no-repeat;
  width: 18px;
  height: 18px;
}

/* line 281, ../sass/common.scss */
.top-vk {
  background: url('../img/icons-s3e79710a1d.png') 0 0 no-repeat;
  width: 18px;
  height: 18px;
}

/* line 282, ../sass/common.scss */
.top-insta {
  background: url('../img/icons-s3e79710a1d.png') -24px -18px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 284, ../sass/common.scss */
.tab-fb {
  background: url('../img/icons-s3e79710a1d.png') -16px -36px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 285, ../sass/common.scss */
.tab-vk {
  background: url('../img/icons-s3e79710a1d.png') 0 -61px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 286, ../sass/common.scss */
.tab-insta {
  background: url('../img/icons-s3e79710a1d.png') -34px -36px no-repeat;
  width: 18px;
  height: 19px;
}

/* line 288, ../sass/common.scss */
.active .tab-fb {
  background: url('../img/icons-s3e79710a1d.png') -18px 0 no-repeat;
  width: 18px;
  height: 18px;
}

/* line 289, ../sass/common.scss */
.active .tab-vk {
  background: url('../img/icons-s3e79710a1d.png') 0 0 no-repeat;
  width: 18px;
  height: 18px;
}

/* line 290, ../sass/common.scss */
.active .tab-insta {
  background: url('../img/icons-s3e79710a1d.png') -24px -18px no-repeat;
  width: 18px;
  height: 18px;
}

/* line 292, ../sass/common.scss */
.promo_med {
  background-image: url(../img/promobg2.jpg);
  height: 650px;
}
/* line 295, ../sass/common.scss */
.promo_med h1, .promo_med h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 296, ../sass/common.scss */
.promo_med h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 299, ../sass/common.scss */
.slider {
  min-height: 380px;
  position: relative;
}
/* line 37, ../sass/_base.scss */
.slider .wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 304, ../sass/common.scss */
.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 36px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: -18px;
  z-index: 10;
}
/* line 312, ../sass/common.scss */
.slider .prev i,
.slider .next i {
  display: block;
  margin: 12px auto 0;
}
/* line 318, ../sass/common.scss */
.slider .more {
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  font-size: 12px;
  line-height: 34px;
  position: absolute;
  top: 70px;
  height: 36px;
  background: #303030;
  padding: 0 20px;
  z-index: 10;
  color: #fff;
}
/* line 329, ../sass/common.scss */
.slider .more i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 12px 0 0 10px;
}
/* line 334, ../sass/common.scss */
.slider .more span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 340, ../sass/common.scss */
.slider .prev {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  left: 0;
}
/* line 343, ../sass/common.scss */
.slider .prev i {
  background: url('../img/common-s7b16feaa36.png') -79px -49px no-repeat;
  width: 8px;
  height: 13px;
}
/* line 345, ../sass/common.scss */
.slider .next {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  right: 0;
}
/* line 348, ../sass/common.scss */
.slider .next i {
  background: url('../img/common-s7b16feaa36.png') -87px -49px no-repeat;
  width: 8px;
  height: 13px;
}
/* line 350, ../sass/common.scss */
.slider .more {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  right: 0;
}
/* line 353, ../sass/common.scss */
.slider .more i {
  background: url('../img/common-s7b16feaa36.png') -87px -49px no-repeat;
  width: 8px;
  height: 13px;
}
/* line 355, ../sass/common.scss */
.slider aside {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  width: 100px;
  padding: 12px 30px 4px;
  background: #303030;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  margin-top: -81px;
  color: #fff;
  line-height: 1.2;
}
/* line 367, ../sass/common.scss */
.slider aside p {
  font-size: 12px;
  color: #adadad;
  padding-bottom: 8px;
}
/* line 371, ../sass/common.scss */
.slider aside p b {
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  color: #fff;
  font-size: 14px;
}
/* line 378, ../sass/common.scss */
.slider.bg_white {
  background: #fff;
}
/* line 381, ../sass/common.scss */
.slider.bg_black {
  background: #191919;
}
/* line 384, ../sass/common.scss */
.slider.bg_transparent {
  background: transparent;
}

/* line 390, ../sass/common.scss */
.technology {
  background: #060606 url(../img/tech-phone-bg.jpg) 50% 0 no-repeat;
  min-height: 680px;
  position: relative;
  color: #fff;
}
/* line 395, ../sass/common.scss */
.technology .phone_top {
  background: transparent url(../img/phone_top.png) 0 0 no-repeat;
  display: block;
  width: 271px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: 211px;
}
/* line 404, ../sass/common.scss */
.technology .phone_jack {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: transparent url(../img/phone_jack.png) 0 0 no-repeat;
  width: 206px;
  height: 206px;
  margin-top: 80px;
  margin-left: -20px;
  margin-right: 20px;
}
/* line 413, ../sass/common.scss */
.technology .phone_camera {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: transparent url(../img/phone_camera.png) 0 0 no-repeat;
  width: 206px;
  height: 206px;
  margin-top: 80px;
}
/* line 37, ../sass/_base.scss */
.technology .tech_descr:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 423, ../sass/common.scss */
.technology dl {
  float: left;
  width: 220px;
  margin: 30px 5px 0 0;
}
/* line 427, ../sass/common.scss */
.technology dl .ico {
  margin-top: -14px;
  float: left;
}
/* line 431, ../sass/common.scss */
.technology dl dd {
  color: #777;
  margin: 10px 0 0 45px;
  height: 120px;
}
/* line 437, ../sass/common.scss */
.technology .text_right {
  margin-top: 270px;
}
/* line 440, ../sass/common.scss */
.technology h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 443, ../sass/common.scss */
.technology h2 {
  color: #999;
}

/* line 449, ../sass/common.scss */
.ico {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 455, ../sass/common.scss */
.ico.ico-headphones {
  background-image: url(../img/icons/ico-headphones.png);
}
/* line 456, ../sass/common.scss */
.ico.ico-ergo {
  background-image: url(../img/icons/ico-ergo.png);
}
/* line 457, ../sass/common.scss */
.ico.ico-foto {
  background-image: url(../img/icons/ico-foto.png);
}
/* line 458, ../sass/common.scss */
.ico.ico-iphone {
  background-image: url(../img/icons/ico-iphone.png);
}
/* line 459, ../sass/common.scss */
.ico.ico-brush {
  background-image: url(../img/icons/ico-brush.png);
}

/* line 462, ../sass/common.scss */
.description {
  min-height: 500px;
  padding: 50px 0 70px;
  background: #fff;
}
/* line 466, ../sass/common.scss */
.description header {
  min-height: 270px;
}
/* line 37, ../sass/_base.scss */
.description header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 469, ../sass/common.scss */
.description header h1 {
  overflow: hidden;
  padding-right: 50px;
}
/* line 473, ../sass/common.scss */
.description header aside {
  float: left;
  width: 270px;
  margin-left: 50px;
}
/* line 477, ../sass/common.scss */
.description header aside h3 {
  color: #a5a5a5;
  padding-top: 20px;
}

/* line 37, ../sass/_base.scss */
.descr_content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 487, ../sass/common.scss */
.descr_content aside {
  width: 500px;
  margin-left: 50px;
  float: left;
}
/* line 37, ../sass/_base.scss */
.descr_content aside:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 493, ../sass/common.scss */
.descr_content dl {
  float: left;
  color: #696969;
  font-size: 20px;
  width: 270px;
}
/* line 498, ../sass/common.scss */
.descr_content dl .icon_holder {
  margin-top: -28px;
}
/* line 501, ../sass/common.scss */
.descr_content dl h3 {
  color: #a5a5a5;
  padding-top: 20px;
}
/* line 505, ../sass/common.scss */
.descr_content dl dt {
  border-top: 1px solid #e5e5e5;
}
/* line 508, ../sass/common.scss */
.descr_content dl dd {
  height: 210px;
  padding-right: 25px;
}
/* line 513, ../sass/common.scss */
.descr_content .short {
  width: 230px;
}
/* line 515, ../sass/common.scss */
.descr_content .short dd {
  padding-right: 0;
}

/* line 522, ../sass/common.scss */
.tech_holder {
  border-top: 1px solid #e5e5e5;
  float: left;
  width: 550px;
}
/* line 526, ../sass/common.scss */
.tech_holder .icon_holder {
  margin-top: -28px;
  margin-left: 110px;
  float: left;
}
/* line 531, ../sass/common.scss */
.tech_holder h3 {
  color: #a5a5a5;
  padding-top: 42px;
  padding-bottom: 30px;
  margin-left: 110px;
}
/* line 537, ../sass/common.scss */
.tech_holder .tech_table {
  margin-left: 110px;
}

/* line 542, ../sass/common.scss */
.tech_table {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 450px;
  height: 480px;
  background: #f1f1f1;
  overflow: hidden;
}
/* line 37, ../sass/_base.scss */
.tech_table nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 550, ../sass/common.scss */
.tech_table nav .tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-top: 4px;
  height: 120px;
  width: 90px;
  border-bottom: 2px solid #cdcdcd;
  text-align: center;
  font-size: 12px;
  color: #9f9f9f;
  cursor: pointer;
}
/* line 561, ../sass/common.scss */
.tech_table nav .tab .inner {
  height: 108px;
  border-right: 1px solid #dedede;
}
/* line 565, ../sass/common.scss */
.tech_table nav .tab.active {
  background: #29bbeb;
  border-color: #239fc8;
  border-right: 0;
  color: #fff;
  cursor: default;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 572, ../sass/common.scss */
.tech_table nav .tab.active .inner {
  border-right: 0;
}
/* line 575, ../sass/common.scss */
.tech_table nav .tab:last-child .inner {
  border-right: 0;
}
/* line 577, ../sass/common.scss */
.tech_table nav .tab i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 55px;
  width: 44px;
  margin: 16px 0 13px;
}
/* line 585, ../sass/common.scss */
.tech_table .table {
  width: 100%;
}
/* line 587, ../sass/common.scss */
.tech_table .table .cell {
  line-height: 50px;
  color: #2a2a2a;
  border-bottom: 1px solid #dedede;
}
/* line 591, ../sass/common.scss */
.tech_table .table .cell:first-child {
  color: #777;
  padding-left: 20px;
  width: 180px;
}
/* line 597, ../sass/common.scss */
.tech_table .table .row:last-child .cell {
  border-bottom: 0;
}

/* line 603, ../sass/common.scss */
.dev_menu {
  text-align: center;
  display: none;
  background: #f1f1f1;
}
/* line 607, ../sass/common.scss */
.dev_menu nav {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 37, ../sass/_base.scss */
.dev_menu nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 610, ../sass/common.scss */
.dev_menu nav .tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 120px;
  width: 90px;
  text-align: center;
  font-size: 12px;
  color: #9f9f9f;
  cursor: pointer;
}
/* line 619, ../sass/common.scss */
.dev_menu nav .tab .inner {
  height: 120px;
  border-right: 1px solid #dedede;
}
/* line 623, ../sass/common.scss */
.dev_menu nav .tab.active {
  background: #29bbeb;
  border-color: #239fc8;
  border-right: 0;
  color: #fff;
  cursor: default;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 630, ../sass/common.scss */
.dev_menu nav .tab.active .inner {
  border-right: 0;
}
/* line 633, ../sass/common.scss */
.dev_menu nav .tab:last-child .inner {
  border-right: 0;
}
/* line 635, ../sass/common.scss */
.dev_menu nav .tab i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 55px;
  width: 44px;
  margin: 16px 0 13px;
}

/* line 645, ../sass/common.scss */
.dev_top_menu {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 649, ../sass/common.scss */
.dev-iphone5 {
  background: url('../img/common-s7b16feaa36.png') 0 -260px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 652, ../sass/common.scss */
.dev-iphone4 {
  background: url('../img/common-s7b16feaa36.png') -49px -315px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 655, ../sass/common.scss */
.dev-ipad_mini {
  background: url('../img/common-s7b16feaa36.png') -44px -372px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 658, ../sass/common.scss */
.dev-ipad {
  background: url('../img/common-s7b16feaa36.png') -88px -260px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 661, ../sass/common.scss */
.dev-galaxy {
  background: url('../img/common-s7b16feaa36.png') -139px -150px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 665, ../sass/common.scss */
.active .dev-iphone5 {
  background: url('../img/common-s7b16feaa36.png') -132px -260px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 668, ../sass/common.scss */
.active .dev-iphone4 {
  background: url('../img/common-s7b16feaa36.png') 0 -372px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 671, ../sass/common.scss */
.active .dev-ipad_mini {
  background: url('../img/common-s7b16feaa36.png') -139px -95px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 674, ../sass/common.scss */
.active .dev-ipad {
  background: url('../img/common-s7b16feaa36.png') -137px -205px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 677, ../sass/common.scss */
.active .dev-galaxy {
  background: url('../img/common-s7b16feaa36.png') -44px -260px no-repeat;
  width: 44px;
  height: 55px;
}

/* line 681, ../sass/common.scss */
.icon {
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: table-cell;
  background: #f1f1f1;
  width: 52px;
  height: 52px;
  text-align: center;
  vertical-align: middle;
}
/* line 690, ../sass/common.scss */
.icon.dark {
  background: #c5c5c5;
}

/* line 695, ../sass/common.scss */
.dim-truck {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') 0 -153px no-repeat;
  width: 31px;
  height: 22px;
}

/* line 700, ../sass/common.scss */
.dim-thumb_up {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') -25px -129px no-repeat;
  width: 23px;
  height: 24px;
}

/* line 705, ../sass/common.scss */
.dim-payback {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') 0 -284px no-repeat;
  width: 30px;
  height: 31px;
}

/* line 710, ../sass/common.scss */
.dim-warranty {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') 0 -253px no-repeat;
  width: 33px;
  height: 31px;
}

/* line 715, ../sass/common.scss */
.dim-expand {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') -25px -81px no-repeat;
  width: 24px;
  height: 24px;
}

/* line 720, ../sass/common.scss */
.dim-card {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/icons-s3e79710a1d.png') -18px -61px no-repeat;
  width: 26px;
  height: 20px;
}

/* line 726, ../sass/common.scss */
.button,
.nav .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  color: #fff;
  height: 36px;
  line-height: 34px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}
/* line 737, ../sass/common.scss */
.button.border,
.nav .button.border {
  border: 1px solid #8c8c8c;
}
/* line 740, ../sass/common.scss */
.button.blue,
.nav .button.blue {
  -webkit-box-shadow: inset 0 -2px 0 #239fc8;
  -moz-box-shadow: inset 0 -2px 0 #239fc8;
  box-shadow: inset 0 -2px 0 #239fc8;
  border-color: transparent;
  background: #29bbeb;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 746, ../sass/common.scss */
.button.darkblue,
.nav .button.darkblue {
  -webkit-box-shadow: inset 0 -2px 0 #1990b7;
  -moz-box-shadow: inset 0 -2px 0 #1990b7;
  box-shadow: inset 0 -2px 0 #1990b7;
  border-color: transparent;
  background: #1da9d7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 752, ../sass/common.scss */
.button.grey,
.nav .button.grey {
  -webkit-box-shadow: inset 0 -2px 0 #9a9a9a;
  -moz-box-shadow: inset 0 -2px 0 #9a9a9a;
  box-shadow: inset 0 -2px 0 #9a9a9a;
  border-color: transparent;
  background: #b5b5b5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 757, ../sass/common.scss */
.button.grey.active,
.nav .button.grey.active {
  -webkit-box-shadow: inset 0 2px 0 #239fc8;
  -moz-box-shadow: inset 0 2px 0 #239fc8;
  box-shadow: inset 0 2px 0 #239fc8;
  background: #29bbeb;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 763, ../sass/common.scss */
.button.tiny,
.nav .button.tiny {
  height: 32px;
  line-height: 30px;
}
/* line 767, ../sass/common.scss */
.button.left,
.nav .button.left {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin-right: 0!important;
}
/* line 771, ../sass/common.scss */
.button.right,
.nav .button.right {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin-left: 0!important;
}

/* line 777, ../sass/common.scss */
.button_label {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #f1f1f1;
  color: #6a6a6a;
  height: 36px;
  line-height: 34px;
  padding: 0 15px 0 18px;
  margin-left: -3px;
  white-space: nowrap;
  text-shadow: none;
}
/* line 788, ../sass/common.scss */
.button_label.absolute {
  position: absolute;
}
/* line 791, ../sass/common.scss */
.button_label.white {
  background: #fff;
}

/* line 796, ../sass/common.scss */
.nav_simple {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  z-index: 10;
}

/* line 805, ../sass/common.scss */
.error_block {
  background: #191919;
  color: #fff;
  text-align: center;
  padding-top: 75px;
}
/* line 810, ../sass/common.scss */
.error_block p {
  font-size: 30px;
  line-height: 1;
  padding: 40px 0 0;
}
/* line 815, ../sass/common.scss */
.error_block big {
  font-size: 150px;
}

/* line 820, ../sass/common.scss */
.top_login {
  -webkit-box-shadow: inset 0 2px 0 #a3a3a3;
  -moz-box-shadow: inset 0 2px 0 #a3a3a3;
  box-shadow: inset 0 2px 0 #a3a3a3;
  text-align: center;
  background: #b5b5b5;
  padding: 10px 0;
  display: none;
}
/* line 826, ../sass/common.scss */
.top_login ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  list-style: none;
}
/* line 37, ../sass/_base.scss */
.top_login ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 830, ../sass/common.scss */
.top_login ul li {
  float: left;
  margin: 0 5px;
}

/* line 837, ../sass/common.scss */
.social-fb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/common-s7b16feaa36.png') 0 -205px no-repeat;
  width: 137px;
  height: 36px;
}

/* line 841, ../sass/common.scss */
.social-insta {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/common-s7b16feaa36.png') 0 -150px no-repeat;
  width: 139px;
  height: 36px;
}

/* line 845, ../sass/common.scss */
.social-vk {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/common-s7b16feaa36.png') 0 -95px no-repeat;
  width: 139px;
  height: 36px;
}

/* line 850, ../sass/common.scss */
.popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  height: 100%;
  width: 100%;
  z-index: 300;
}

/* line 861, ../sass/common.scss */
.popup_holder {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 300;
}
/* line 870, ../sass/common.scss */
.popup_holder.popup_error .popup {
  width: 420px;
  text-align: center;
  margin-left: -210px;
}
/* line 874, ../sass/common.scss */
.popup_holder.popup_error .popup .pop-in {
  padding: 30px 50px;
}
/* line 875, ../sass/common.scss */
.popup_holder.popup_error .popup .popup__close {
  top: 10px;
  right: 10px;
}
/* line 879, ../sass/common.scss */
.popup_holder.popup_error .popup h3 {
  padding-bottom: 8px;
  color: #a5a5a5;
}

/* line 885, ../sass/common.scss */
.popup {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.8;
  position: relative;
  left: 50%;
  width: 810px;
  margin-left: -390px;
  margin-bottom: 20px;
  top: 50%;
  z-index: 350;
}
/* line 896, ../sass/common.scss */
.popup .pop-in {
  padding: 0;
  min-height: 72px;
}
/* line 900, ../sass/common.scss */
.popup .popup__close {
  background: url('../img/common-s7b16feaa36.png') -50px 0 no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 20;
}
/* line 907, ../sass/common.scss */
.popup .popup__close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 912, ../sass/common.scss */
.popup_top {
  position: relative;
  bottom: auto;
  top: 10px;
  margin-top: 0;
}

/* line 918, ../sass/common.scss */
.popup_center {
  position: fixed;
}

/* line 922, ../sass/common.scss */
.popup_error .popup {
  background: #fff;
}
