/* TRANSITION */
@-webkit-keyframes rotate {
  /* line 4, ../sass/create.scss */
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }

  /* line 8, ../sass/create.scss */
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}

@-moz-keyframes rotate {
  /* line 14, ../sass/create.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 17, ../sass/create.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 22, ../sass/create.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 25, ../sass/create.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

/* line 30, ../sass/create.scss */
.create {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding-top: 70px;
  background: #fff;
}
/* line 35, ../sass/create.scss */
.create .dev_menu {
  background: #f1f1f1;
}
/* line 39, ../sass/create.scss */
.create nav.grids {
  background: #e9e9e9;
}
/* line 41, ../sass/create.scss */
.create nav.grids .tab {
  height: 110px;
}
/* line 43, ../sass/create.scss */
.create nav.grids .tab .inner {
  height: 100%;
}
/* line 44, ../sass/create.scss */
.create nav.grids .tab i {
  height: 44px;
  width: 26px;
  margin: 33px 0 0;
}
/* line 49, ../sass/create.scss */
.create nav.grids .tab.active .inner {
  background: #67cdef;
}
/* line 53, ../sass/create.scss */
.create header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: default;
}
/* line 37, ../sass/_base.scss */
.create header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 61, ../sass/create.scss */
.create header .goback {
  position: absolute;
  top: 0;
  left: 20px;
}
/* line 67, ../sass/create.scss */
.create .dev_menu {
  display: block;
}

/* line 72, ../sass/create.scss */
.grid1 {
  background: url('../img/grid-s822124debc.png') 0 -42px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 73, ../sass/create.scss */
.grid2 {
  background: url('../img/grid-s822124debc.png') 0 -130px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 74, ../sass/create.scss */
.grid3 {
  background: url('../img/grid-s822124debc.png') 0 -218px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 75, ../sass/create.scss */
.grid4 {
  background: url('../img/grid-s822124debc.png') 0 -658px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 76, ../sass/create.scss */
.grid5 {
  background: url('../img/grid-s822124debc.png') 0 -746px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 77, ../sass/create.scss */
.grid6 {
  background: url('../img/grid-s822124debc.png') 0 -526px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 78, ../sass/create.scss */
.grid7 {
  background: url('../img/grid-s822124debc.png') 0 -438px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 79, ../sass/create.scss */
.grid8 {
  background: url('../img/grid-s822124debc.png') 0 -306px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 80, ../sass/create.scss */
.grid9 {
  background: url('../img/grid-s822124debc.png') 0 0 no-repeat;
  width: 26px;
  height: 42px;
}

/* line 81, ../sass/create.scss */
.active .grid1 {
  background: url('../img/grid-s822124debc.png') 0 -482px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 82, ../sass/create.scss */
.active .grid2 {
  background: url('../img/grid-s822124debc.png') 0 -86px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 83, ../sass/create.scss */
.active .grid3 {
  background: url('../img/grid-s822124debc.png') 0 -174px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 84, ../sass/create.scss */
.active .grid4 {
  background: url('../img/grid-s822124debc.png') 0 -702px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 85, ../sass/create.scss */
.active .grid5 {
  background: url('../img/grid-s822124debc.png') 0 -614px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 86, ../sass/create.scss */
.active .grid6 {
  background: url('../img/grid-s822124debc.png') 0 -570px no-repeat;
  width: 24px;
  height: 44px;
}

/* line 87, ../sass/create.scss */
.active .grid7 {
  background: url('../img/grid-s822124debc.png') 0 -394px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 88, ../sass/create.scss */
.active .grid8 {
  background: url('../img/grid-s822124debc.png') 0 -350px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 89, ../sass/create.scss */
.active .grid9 {
  background: url('../img/grid-s822124debc.png') 0 -262px no-repeat;
  width: 26px;
  height: 44px;
}

/* line 91, ../sass/create.scss */
.cc_iphone_white {
  background: url('../img/common-s7b16feaa36.png') -26px 0 no-repeat;
  width: 24px;
  height: 42px;
}

/* line 92, ../sass/create.scss */
.cc_iphone_black {
  background: url('../img/common-s7b16feaa36.png') -80px 0 no-repeat;
  width: 24px;
  height: 42px;
}

/* line 94, ../sass/create.scss */
.cc_ipad_white {
  background: url('../img/common-s7b16feaa36.png') -139px -315px no-repeat;
  width: 46px;
  height: 57px;
}

/* line 95, ../sass/create.scss */
.cc_ipad_black {
  background: url('../img/common-s7b16feaa36.png') -93px -315px no-repeat;
  width: 46px;
  height: 57px;
}

/* line 97, ../sass/create.scss */
.ico-preview {
  background: url('../img/common-s7b16feaa36.png') -95px -49px no-repeat;
  width: 29px;
  height: 16px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 101, ../sass/create.scss */
.ico-shuffle {
  background: url('../img/common-s7b16feaa36.png') 0 0 no-repeat;
  width: 26px;
  height: 21px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 106, ../sass/create.scss */
.progress {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  padding: 0 5px;
  background: #e8e8e8;
  height: 28px;
  line-height: 26px;
}
/* line 114, ../sass/create.scss */
.progress span,
.progress a {
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  color: #888;
  float: left;
  padding: 0 10px;
}
/* line 120, ../sass/create.scss */
.progress b {
  background: url('../img/common-s7b16feaa36.png') -11px -49px no-repeat;
  width: 11px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 9px;
  position: relative;
  right: -10px;
}
/* line 128, ../sass/create.scss */
.progress .done {
  color: #29bbeb;
}
/* line 130, ../sass/create.scss */
.progress .done b {
  background: url('../img/common-s7b16feaa36.png') 0 -49px no-repeat;
  width: 11px;
  height: 10px;
}

/* line 136, ../sass/create.scss */
.goback {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  padding: 0 10px 0 4px;
  background: #e8e8e8;
  height: 28px;
  line-height: 26px;
  color: #888;
}
/* line 144, ../sass/create.scss */
.goback i {
  background: url('../img/common-s7b16feaa36.png') -142px -49px no-repeat;
  width: 21px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 5px;
}
/* line 151, ../sass/create.scss */
.goback:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 154, ../sass/create.scss */
.goback.done {
  color: #29bbeb;
}
/* line 156, ../sass/create.scss */
.goback.done i {
  background: url('../img/common-s7b16feaa36.png') -163px -49px no-repeat;
  width: 21px;
  height: 20px;
}

/* line 163, ../sass/create.scss */
.step-layout h1 {
  text-align: center;
  padding: 0 0 20px!important;
}
/* line 167, ../sass/create.scss */
.step-layout footer {
  text-align: center;
  padding: 20px 0;
}

/* line 174, ../sass/create.scss */
.step-done h1 {
  text-align: center;
  padding: 0 0 20px!important;
}
/* line 178, ../sass/create.scss */
.step-done .options {
  height: 540px;
}
/* line 181, ../sass/create.scss */
.step-done footer {
  text-align: right;
  padding-right: 30px;
}

/* line 187, ../sass/create.scss */
.prepare {
  position: relative;
}
/* line 189, ../sass/create.scss */
.prepare h1 {
  height: 90px;
  padding-top: 0;
}
/* line 193, ../sass/create.scss */
.prepare .options {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background: #f1f1f1;
  height: 510px;
  padding-top: 20px;
}
/* line 200, ../sass/create.scss */
.prepare p {
  padding-bottom: 20px;
}
/* line 203, ../sass/create.scss */
.prepare .button.grey {
  margin-right: 10px;
}
/* line 205, ../sass/create.scss */
.prepare .button.grey i {
  margin: 0 5px 0 -10px;
}

/* line 211, ../sass/create.scss */
.color_choose {
  list-style: none;
  margin-bottom: 20px;
}
/* line 37, ../sass/_base.scss */
.color_choose:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 215, ../sass/create.scss */
.color_choose li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
  background: #b5b5b5;
}
/* line 220, ../sass/create.scss */
.color_choose li.active {
  background: #29bbeb;
}
/* line 224, ../sass/create.scss */
.color_choose a {
  display: block;
  margin: 4px 3px 2px;
}

/* line 230, ../sass/create.scss */
.images_choose {
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  min-height: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
/* line 238, ../sass/create.scss */
.images_choose .tabs {
  display: table;
  width: 100%;
}
/* line 241, ../sass/create.scss */
.images_choose .tabs li {
  font-family: "ProximaNova-Semibold", Arial, sans-serif;
  display: table-cell;
  vertical-align: middle;
  height: 37px;
  padding: 0 12px;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
/* line 249, ../sass/create.scss */
.images_choose .tabs li a {
  color: #777;
  position: relative;
  overflow: hidden;
}
/* line 254, ../sass/create.scss */
.images_choose .tabs li i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 8px;
}
/* line 258, ../sass/create.scss */
.images_choose .tabs li:last-child {
  border-right: 0;
  text-align: center;
}
/* line 262, ../sass/create.scss */
.images_choose .tabs li.active {
  -webkit-box-shadow: inset 0 2px 0 #9a9a9a;
  -moz-box-shadow: inset 0 2px 0 #9a9a9a;
  box-shadow: inset 0 2px 0 #9a9a9a;
  background: #b5b5b5;
  border-color: #b5b5b5;
}
/* line 266, ../sass/create.scss */
.images_choose .tabs li.active a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 271, ../sass/create.scss */
.images_choose .tabs li input {
  position: absolute;
  left: 300px;
  top: 300px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}
/* line 37, ../sass/_base.scss */
.images_choose .content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 282, ../sass/create.scss */
.images_choose .content .in {
  margin: 8px;
  height: 224px;
  overflow: auto;
}
/* line 286, ../sass/create.scss */
.images_choose .content .in.empty {
  text-align: center;
}
/* line 288, ../sass/create.scss */
.images_choose .content .in.empty .button {
  margin-top: 80px;
}
/* line 292, ../sass/create.scss */
.images_choose .content .in p {
  padding: 5px 0 12px 2px;
}
/* line 296, ../sass/create.scss */
.images_choose .content i {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  display: block;
  float: left;
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 8px 8px 0;
  overflow: hidden;
}
/* line 309, ../sass/create.scss */
.images_choose .content i.active {
  border-color: #29bbeb;
  cursor: default;
}
/* line 314, ../sass/create.scss */
.images_choose .content .button {
  position: relative;
  overflow: hidden;
}
/* line 318, ../sass/create.scss */
.images_choose .content #img_upload {
  position: absolute;
  right: 0;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  font-size: 100px;
}

/* line 328, ../sass/create.scss */
.images_filters {
  list-style: none;
  margin-bottom: 20px;
}
/* line 37, ../sass/_base.scss */
.images_filters:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 332, ../sass/create.scss */
.images_filters li {
  float: left;
  text-align: center;
  font-size: 12px;
}
/* line 337, ../sass/create.scss */
.images_filters i {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #fff;
  display: block;
  width: 69px;
  height: 69px;
  background-image: url("../img/filters.jpg");
  margin: 0 8px 8px 0;
  overflow: hidden;
}
/* line 348, ../sass/create.scss */
.images_filters i.filter1 {
  background-position: 0 0;
}
/* line 349, ../sass/create.scss */
.images_filters i.filter2 {
  background-position: -65px 0;
}
/* line 350, ../sass/create.scss */
.images_filters i.filter3 {
  background-position: -130px 0;
}
/* line 351, ../sass/create.scss */
.images_filters i.filter4 {
  background-position: -195px 0;
}
/* line 352, ../sass/create.scss */
.images_filters i.filter5 {
  background-position: -260px 0;
}
/* line 354, ../sass/create.scss */
.images_filters .active i {
  border-color: #29bbeb;
  cursor: default;
}

/* line 361, ../sass/create.scss */
.pop-in-cover,
.pop-in-cover-dark {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}

/* line 371, ../sass/create.scss */
.pop-in-cover-dark {
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

/* line 376, ../sass/create.scss */
.blank-iphone5 {
  display: block;
  background: transparent url("../img/blank-iphone5.png") 0 0 no-repeat;
  width: 290px;
  height: 579px;
  position: relative;
}
/* line 382, ../sass/create.scss */
.blank-iphone5.black {
  background: transparent url("../img/blank-iphone5-black.png") 0 0 no-repeat;
}
/* line 385, ../sass/create.scss */
.blank-iphone5 .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent url("../img/mask-iphone5.png") 0 0 no-repeat;
}
/* line 391, ../sass/create.scss */
.blank-iphone5 .camera {
  display: block!important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 75px;
  height: 36px;
  left: 39px;
  top: 19px;
  background: white url("../img/blank-iphone5.png") -39px -19px no-repeat;
  z-index: 50;
}

/* line 402, ../sass/create.scss */
.blank-iphone4 {
  display: block;
  background: transparent url("../img/blank-iphone4.png") 0 0 no-repeat;
  width: 290px;
  height: 540px;
}
/* line 407, ../sass/create.scss */
.blank-iphone4.black {
  background: transparent url("../img/blank-iphone4-black.png") 0 0 no-repeat;
}

/* line 411, ../sass/create.scss */
.blank-ipad {
  display: block;
  background: transparent url("../img/blank-ipad.png") 0 0 no-repeat;
  width: 349px;
  height: 505px;
}
/* line 416, ../sass/create.scss */
.blank-ipad.black {
  background: transparent url("../img/blank-ipad-black.png") 0 0 no-repeat;
}

/* line 420, ../sass/create.scss */
.blank-ipad_mini {
  display: block;
  background: transparent url("../img/blank-ipad_mini.png") 0 0 no-repeat;
  width: 318px;
  height: 465px;
}
/* line 425, ../sass/create.scss */
.blank-ipad_mini.black {
  background: transparent url("../img/blank-ipad_mini-black.png") 0 0 no-repeat;
}

/* line 429, ../sass/create.scss */
.blank-galaxy {
  display: block;
  background: transparent url("../img/blank-galaxy.png") 0 0 no-repeat;
  width: 298px;
  height: 573px;
}
/* line 434, ../sass/create.scss */
.blank-galaxy.black {
  background: transparent url("../img/blank-galaxy-black.png") 0 0 no-repeat;
}

/* line 439, ../sass/create.scss */
.blank_block {
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 50;
}
/* line 37, ../sass/_base.scss */
.blank_block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 448, ../sass/create.scss */
.blank_block.blank-iphone5, .blank_block.blank-iphone4 {
  left: 36px;
}
/* line 451, ../sass/create.scss */
.blank_block.blank-ipad {
  left: 10px;
}
/* line 454, ../sass/create.scss */
.blank_block.blank-galaxy {
  left: 20px;
}
/* line 457, ../sass/create.scss */
.blank_block.finished {
  left: 50%;
  top: 142px;
  margin-left: -145px;
}
/* line 462, ../sass/create.scss */
.blank_block .camera {
  position: absolute;
  display: none;
}

/* line 468, ../sass/create.scss */
.page_ipad .blank_block.finished {
  margin-left: -178px;
}

/* line 472, ../sass/create.scss */
.button.button_preview.active {
  display: none;
  position: absolute;
  top: 200px;
  left: 340px;
  z-index: 50;
}
/* line 478, ../sass/create.scss */
.button.button_preview.active i {
  margin: 0 5px 0 -10px;
}

/* line 485, ../sass/create.scss */
.page_iphone h1, .page_iphone .options,
.page_galaxy h1,
.page_galaxy .options {
  padding-left: 340px;
}
/* line 488, ../sass/create.scss */
.page_iphone .button.button_preview.active,
.page_galaxy .button.button_preview.active {
  left: 340px;
}

/* line 494, ../sass/create.scss */
.page_ipad h1, .page_ipad .options {
  padding-left: 380px;
}
/* line 497, ../sass/create.scss */
.page_ipad .button.button_preview.active {
  left: 380px;
}

/* line 502, ../sass/create.scss */
.grid__device {
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  overflow: hidden;
}
/* line 507, ../sass/create.scss */
.grid__device:hover .empty:hover .add, .grid__device.active .empty:hover .add {
  display: block;
}
/* line 511, ../sass/create.scss */
.grid__device.preview {
  overflow: hidden;
}
/* line 513, ../sass/create.scss */
.grid__device.preview .unit i {
  display: none!important;
}
/* line 516, ../sass/create.scss */
.grid__device.preview .add {
  display: none!important;
}
/* line 519, ../sass/create.scss */
.grid__device.preview .layout div {
  border-color: transparent;
}

/* line 525, ../sass/create.scss */
.add {
  background: url('../img/icons-s3e79710a1d.png') 0 -356px no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  display: none;
  cursor: pointer;
}
/* line 535, ../sass/create.scss */
.add.active {
  display: block;
}

/* line 538, ../sass/create.scss */
.pencil {
  background: url('../img/icons-s3e79710a1d.png') -26px -201px no-repeat;
  width: 26px;
  height: 26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -28px;
}

/* line 547, ../sass/create.scss */
.delete {
  background: url('../img/icons-s3e79710a1d.png') 0 -175px no-repeat;
  width: 26px;
  height: 26px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -13px -28px 0 0;
}

/* line 556, ../sass/create.scss */
.move {
  background: url('../img/icons-s3e79710a1d.png') 0 -315px no-repeat;
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

/* line 565, ../sass/create.scss */
.plus {
  background: url('../img/icons-s3e79710a1d.png') -26px -175px no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  left: 46px;
  bottom: 0;
  margin-bottom: 5px;
}

/* line 574, ../sass/create.scss */
.minus {
  background: url('../img/icons-s3e79710a1d.png') 0 -227px no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  left: 15px;
  bottom: 0;
  margin-bottom: 5px;
}

/* line 583, ../sass/create.scss */
.ok {
  background: url('../img/icons-s3e79710a1d.png') 0 -201px no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  right: 15px;
  bottom: 0;
  margin-bottom: 5px;
}

/* line 593, ../sass/create.scss */
.layout .unit {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
}
/* line 599, ../sass/create.scss */
.layout i {
  cursor: pointer;
  display: none;
  z-index: 10;
}
/* line 606, ../sass/create.scss */
.layout .unit:hover .pencil,
.layout .unit:hover .delete {
  display: block;
}
/* line 612, ../sass/create.scss */
.layout .unit.empty .pencil,
.layout .unit.empty .delete {
  display: none;
}
/* line 618, ../sass/create.scss */
.layout .edit_mode_on .pencil,
.layout .edit_mode_on .delete {
  display: none!important;
}
/* line 623, ../sass/create.scss */
.layout .edit_mode_on .plus,
.layout .edit_mode_on .minus,
.layout .edit_mode_on .ok {
  display: block;
}
/* line 626, ../sass/create.scss */
.layout .edit_mode_on img {
  cursor: move;
}
/* line 635, ../sass/create.scss */
.layout .edit_hide .pencil,
.layout .edit_hide .delete,
.layout .edit_hide .plus,
.layout .edit_hide .minus,
.layout .edit_hide .ok {
  display: none!important;
}
/* line 639, ../sass/create.scss */
.layout .empty:hover .add {
  display: block;
}

/* line 642, ../sass/create.scss */
.img_edit {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  z-index: 90;
  background: #fff;
  width: 180px;
  margin: 65px 0 0 -63px;
}
/* line 649, ../sass/create.scss */
.img_edit .in {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 20px 0 20px 20px;
  overflow: hidden;
  background: #f1f1f1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 659, ../sass/create.scss */
.img_edit .in img {
  cursor: move;
}
/* line 663, ../sass/create.scss */
.img_edit .tail {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 672, ../sass/create.scss */
.img_edit i {
  cursor: pointer;
  z-index: 10;
}
/* line 676, ../sass/create.scss */
.img_edit.pos_top {
  margin-top: 65px;
}
/* line 678, ../sass/create.scss */
.img_edit.pos_top .tail {
  top: -10px;
  border-bottom: 10px solid #fff;
}
/* line 683, ../sass/create.scss */
.img_edit.pos_bot {
  margin-top: -15px;
}
/* line 685, ../sass/create.scss */
.img_edit.pos_bot .tail {
  bottom: -10px;
  border-top: 10px solid #fff;
}

/* line 692, ../sass/create.scss */
.img_upload {
  position: absolute;
  z-index: 100;
  width: 420px;
  margin: 0 0 0 -190px;
}
/* line 697, ../sass/create.scss */
.img_upload .tail {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 706, ../sass/create.scss */
.img_upload .images_choose {
  margin: 0;
}
/* line 709, ../sass/create.scss */
.img_upload.pos_top {
  margin-top: 70px;
}
/* line 711, ../sass/create.scss */
.img_upload.pos_top .tail {
  top: -10px;
  border-bottom: 10px solid #fff;
}
/* line 716, ../sass/create.scss */
.img_upload.pos_bot {
  margin-top: -20px;
}
/* line 718, ../sass/create.scss */
.img_upload.pos_bot .tail {
  bottom: -10px;
  border-top: 10px solid #fff;
}

/* line 725, ../sass/create.scss */
.preloader {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 733, ../sass/create.scss */
.preloader b {
  -moz-animatiom: rotate 1s linear 0s infinite normal none;
  -webkit-animation: rotate 1s linear 0s infinite normal none;
  -o-animation: rotate 1s linear 0s infinite normal none;
  animation: rotate 1s linear 0s infinite normal none;
  background: transparent url(../img/addphoto_loader.png) 0 0 no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}
