/* TRANSITION */
/* line 3, ../sass/layout.scss */
.slot_bg {
  background: #f3f3f3;
}

/* line 7, ../sass/layout.scss */
.black .slot_bg {
  background: #363636;
}

/* line 37, ../sass/_base.scss */
.layout-test:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, ../sass/layout.scss */
.layout-test div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 -1px 0 0;
  border: 1px dotted #61bfda;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 23, ../sass/layout.scss */
.layout-test div img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 37, ../sass/_base.scss */
.layout0:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 33, ../sass/layout.scss */
.layout0 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  height: 548px;
  margin: 0 -1px 0 0;
}
/* line 41, ../sass/layout.scss */
.layout0 div img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 37, ../sass/_base.scss */
.layout1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 51, ../sass/layout.scss */
.layout1 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  height: 137px;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 61, ../sass/layout.scss */
.layout1 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 66, ../sass/layout.scss */
.layout1 div:nth-child(2n+2) {
  border-right: 0;
}
/* line 70, ../sass/layout.scss */
.layout1 div:last-child, .layout1 div:nth-last-child(2) {
  border-bottom: 0;
}
/* line 74, ../sass/layout.scss */
.layout1 .multiple {
  margin-left: 1px;
  width: 100%;
  border: 0;
}
/* line 78, ../sass/layout.scss */
.layout1 .multiple div {
  height: 70px;
}

/* line 84, ../sass/layout.scss */
.layout2 {
  position: relative;
}
/* line 37, ../sass/_base.scss */
.layout2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 87, ../sass/layout.scss */
.layout2 .slot {
  height: 270px;
  position: relative;
  overflow: hidden;
}
/* line 92, ../sass/layout.scss */
.layout2 .slot:first-child {
  border-bottom: 1px solid #61bfda;
}
/* line 97, ../sass/layout.scss */
.layout2 .slot:nth-last-child(2) .pencil,
.layout2 .slot:nth-last-child(2) .delete {
  top: 100%;
  margin-top: -30px;
}
/* line 102, ../sass/layout.scss */
.layout2 .accent-circle {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -75px;
  overflow: hidden;
}
/* line 113, ../sass/layout.scss */
.layout2 .accent-circle:hover, .layout2 .accent-circle.edit_mode_on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 116, ../sass/layout.scss */
.layout2 .accent-circle.empty {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
}
/* line 120, ../sass/layout.scss */
.layout2 .accent-square {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -75px;
  overflow: hidden;
}
/* line 131, ../sass/layout.scss */
.layout2 .accent-square:hover, .layout2 .accent-square.edit_mode_on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 134, ../sass/layout.scss */
.layout2 .accent-square.empty {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* line 141, ../sass/layout.scss */
.layout3 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 150, ../sass/layout.scss */
.layout3 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 158, ../sass/layout.scss */
.layout3 .slot_top,
.layout3 .slot_mid,
.layout3 .slot_bot {
  width: 100%;
  border: 0;
}
/* line 165, ../sass/layout.scss */
.layout3 .slot_top .slot,
.layout3 .slot_bot .slot,
.layout3 .slot_top div,
.layout3 .slot_bot div {
  width: 65%;
}
/* line 169, ../sass/layout.scss */
.layout3 .slot_top div,
.layout3 .slot_bot div {
  height: 200px;
  width: 35%;
}
/* line 172, ../sass/layout.scss */
.layout3 .slot_top div:last-child,
.layout3 .slot_bot div:last-child {
  border-right: 0;
}
/* line 177, ../sass/layout.scss */
.layout3 .slot_mid,
.layout3 .slot_mid div {
  height: 142px;
}
/* line 179, ../sass/layout.scss */
.layout3 .slot_mid:last-child,
.layout3 .slot_mid div:last-child {
  border-right: 0;
}
/* line 183, ../sass/layout.scss */
.layout3 .slot_bot div {
  border-bottom: 0;
}
/* line 185, ../sass/layout.scss */
.layout3 .slot_bot div .multiple div:first-child {
  border-bottom: 1px solid #61bfda;
}
/* line 189, ../sass/layout.scss */
.layout3 .multiple {
  margin-left: 1px;
  width: 100%!important;
  border: 0;
}
/* line 193, ../sass/layout.scss */
.layout3 .multiple div {
  width: 100%;
  height: 50%!important;
}

/* line 201, ../sass/layout.scss */
.layout4 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 210, ../sass/layout.scss */
.layout4 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 218, ../sass/layout.scss */
.layout4 .slot_top,
.layout4 .slot_mid,
.layout4 .slot_bot {
  width: 100%;
  border: 0;
}
/* line 225, ../sass/layout.scss */
.layout4 .slot_top .slot,
.layout4 .slot_bot .slot,
.layout4 .slot_top div,
.layout4 .slot_bot div {
  height: 160px;
}
/* line 230, ../sass/layout.scss */
.layout4 .slot_top div:nth-child(2n+2),
.layout4 .slot_bot div:nth-child(2n+2) {
  border-right: 0;
}
/* line 234, ../sass/layout.scss */
.layout4 .slot_mid div {
  height: 222px;
  width: 100%;
  border-right: 0;
}
/* line 239, ../sass/layout.scss */
.layout4 .slot_bot div {
  border-bottom: 0;
}
/* line 243, ../sass/layout.scss */
.layout4 .slot_bot .multiple div:first-child,
.layout4 .slot_bot .multiple div:nth-child(2) {
  border-bottom: 1px solid #61bfda;
}
/* line 246, ../sass/layout.scss */
.layout4 .multiple {
  margin-left: 1px;
  width: 100%!important;
  border: 0;
}
/* line 250, ../sass/layout.scss */
.layout4 .multiple div {
  width: 50%;
  height: 50%!important;
}

/* line 258, ../sass/layout.scss */
.layout5 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
}
/* line 266, ../sass/layout.scss */
.layout5 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 271, ../sass/layout.scss */
.layout5 div .single {
  height: 154px;
  width: 100%;
}
/* line 275, ../sass/layout.scss */
.layout5 div .multiple {
  width: 100%;
}
/* line 37, ../sass/_base.scss */
.layout5 div .multiple:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 278, ../sass/layout.scss */
.layout5 div .multiple:last-child {
  border-bottom: 0;
}
/* line 282, ../sass/layout.scss */
.layout5 div .multiple div {
  height: 77px;
  width: 50%;
  float: left;
}
/* line 286, ../sass/layout.scss */
.layout5 div .multiple div:nth-child(2n+2) {
  border-right: 0;
}
/* line 290, ../sass/layout.scss */
.layout5 div .multiple div:last-child, .layout5 div .multiple div:nth-last-child(2) {
  border-bottom: 0;
}
/* line 295, ../sass/layout.scss */
.layout5 .col {
  border: 0;
}
/* line 298, ../sass/layout.scss */
.layout5 .col:last-child .single {
  border-right: 0;
}
/* line 300, ../sass/layout.scss */
.layout5 .col:last-child .single:last-child {
  border: 0;
}
/* line 304, ../sass/layout.scss */
.layout5 .col:last-child .multiple {
  border-right: 0;
}
/* line 307, ../sass/layout.scss */
.layout5 .col:last-child .multiple div:last-child {
  border-right: 0;
}

/* line 315, ../sass/layout.scss */
.layout6 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 25%;
  height: 90px;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
}
/* line 324, ../sass/layout.scss */
.layout6 div:nth-child(4n+4) {
  border-right: 0;
}
/* line 330, ../sass/layout.scss */
.layout6 div:last-child, .layout6 div:nth-last-child(2), .layout6 div:nth-last-child(3), .layout6 div:nth-last-child(4) {
  border-bottom: 0;
}
/* line 333, ../sass/layout.scss */
.layout6 div img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 342, ../sass/layout.scss */
.layout7 .block {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  height: 180px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 15px;
}
/* line 350, ../sass/layout.scss */
.layout7 .circle {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: relative;
  overflow: hidden;
}
/* line 358, ../sass/layout.scss */
.layout7 .circle:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 362, ../sass/layout.scss */
.layout7 .multiple {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 150px;
}
/* line 365, ../sass/layout.scss */
.layout7 .multiple .circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
}
/* line 371, ../sass/layout.scss */
.layout7 .multiple .circle:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 374, ../sass/layout.scss */
.layout7 .multiple .circle:last-child {
  margin-top: 20px;
}

/*devices*/
/* line 384, ../sass/layout.scss */
.blank-iphone5 .grid__device {
  width: 263px;
  margin-left: 14px;
}
/* line 388, ../sass/layout.scss */
.blank-iphone5 .layout0 div {
  height: 540px;
}
/* line 391, ../sass/layout.scss */
.blank-iphone5 .layout1 div {
  height: 135px;
}
/* line 394, ../sass/layout.scss */
.blank-iphone5 .layout1 .multiple div {
  height: 70px;
}

/* line 400, ../sass/layout.scss */
.blank-iphone4 .grid__device {
  width: 263px;
  margin-left: 14px;
}
/* line 404, ../sass/layout.scss */
.blank-iphone4 .layout0 div {
  height: 504px;
}
/* line 407, ../sass/layout.scss */
.blank-iphone4 .layout1 div {
  height: 126px;
}
/* line 410, ../sass/layout.scss */
.blank-iphone4 .layout1 .multiple div {
  height: 65px;
}
/* line 413, ../sass/layout.scss */
.blank-iphone4 .layout2 .slot {
  height: 251px;
}
/* line 417, ../sass/layout.scss */
.blank-iphone4 .layout3 .slot_top div,
.blank-iphone4 .layout3 .slot_bot div {
  height: 180px;
}
/* line 423, ../sass/layout.scss */
.blank-iphone4 .layout4 .slot_top .slot,
.blank-iphone4 .layout4 .slot_bot .slot,
.blank-iphone4 .layout4 .slot_top div,
.blank-iphone4 .layout4 .slot_bot div {
  height: 150px;
}
/* line 426, ../sass/layout.scss */
.blank-iphone4 .layout4 .slot_mid div {
  height: 202px;
}
/* line 429, ../sass/layout.scss */
.blank-iphone4 .layout5 div .single {
  height: 135px;
}
/* line 432, ../sass/layout.scss */
.blank-iphone4 .layout6 div {
  height: 84px;
}
/* line 435, ../sass/layout.scss */
.blank-iphone4 .layout7 .block {
  height: 162px;
}

/* line 447, ../sass/layout.scss */
.blank-ipad #img_result {
  margin-left: 13px;
}
/* line 450, ../sass/layout.scss */
.blank-ipad .grid__device {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 321px;
  margin-left: 14px;
}
/* line 455, ../sass/layout.scss */
.blank-ipad .layout0 div {
  height: 472px;
}
/* line 458, ../sass/layout.scss */
.blank-ipad .layout1 div {
  height: 118px;
}
/* line 461, ../sass/layout.scss */
.blank-ipad .layout1 .multiple div {
  height: 59px;
}
/* line 464, ../sass/layout.scss */
.blank-ipad .layout2 .slot {
  height: 233px;
}
/* line 468, ../sass/layout.scss */
.blank-ipad .layout3 .slot_top div,
.blank-ipad .layout3 .slot_bot div {
  height: 164px;
}
/* line 474, ../sass/layout.scss */
.blank-ipad .layout4 .slot_top .slot,
.blank-ipad .layout4 .slot_bot .slot,
.blank-ipad .layout4 .slot_top div,
.blank-ipad .layout4 .slot_bot div {
  height: 144px;
}
/* line 477, ../sass/layout.scss */
.blank-ipad .layout4 .slot_mid div {
  height: 179px;
}
/* line 480, ../sass/layout.scss */
.blank-ipad .layout5 div .single {
  height: 118px;
}
/* line 483, ../sass/layout.scss */
.blank-ipad .layout6 div {
  height: 78px;
}
/* line 486, ../sass/layout.scss */
.blank-ipad .layout7 .block {
  height: 156px;
}
/* line 489, ../sass/layout.scss */
.blank-ipad .layout7 .circle {
  -webkit-border-radius: 65;
  -moz-border-radius: 65;
  -ms-border-radius: 65;
  -o-border-radius: 65;
  border-radius: 65;
  width: 130px;
  height: 130px;
}
/* line 494, ../sass/layout.scss */
.blank-ipad .layout7 .multiple .circle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  -ms-border-radius: 28;
  -o-border-radius: 28;
  border-radius: 28;
  width: 56px;
  height: 56px;
}

/* line 502, ../sass/layout.scss */
.blank-ipad_mini .grid__device {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 291px;
  margin-left: 14px;
}
/* line 507, ../sass/layout.scss */
.blank-ipad_mini .layout0 div {
  height: 416px;
}
/* line 510, ../sass/layout.scss */
.blank-ipad_mini .layout1 div {
  height: 104px;
}
/* line 513, ../sass/layout.scss */
.blank-ipad_mini .layout1 .multiple div {
  height: 52px;
}
/* line 516, ../sass/layout.scss */
.blank-ipad_mini .layout2 .slot {
  height: 208px;
}
/* line 520, ../sass/layout.scss */
.blank-ipad_mini .layout3 .slot_top div,
.blank-ipad_mini .layout3 .slot_bot div {
  height: 137px;
}
/* line 526, ../sass/layout.scss */
.blank-ipad_mini .layout4 .slot_top .slot,
.blank-ipad_mini .layout4 .slot_bot .slot,
.blank-ipad_mini .layout4 .slot_top div,
.blank-ipad_mini .layout4 .slot_bot div {
  height: 130px;
}
/* line 529, ../sass/layout.scss */
.blank-ipad_mini .layout4 .slot_mid div {
  height: 157px;
}
/* line 532, ../sass/layout.scss */
.blank-ipad_mini .layout5 div .single {
  height: 92px;
}
/* line 535, ../sass/layout.scss */
.blank-ipad_mini .layout6 div {
  height: 70px;
}
/* line 538, ../sass/layout.scss */
.blank-ipad_mini .layout7 .block {
  height: 133px;
}
/* line 541, ../sass/layout.scss */
.blank-ipad_mini .layout7 .circle {
  -webkit-border-radius: 55;
  -moz-border-radius: 55;
  -ms-border-radius: 55;
  -o-border-radius: 55;
  border-radius: 55;
  width: 110px;
  height: 110px;
}
/* line 546, ../sass/layout.scss */
.blank-ipad_mini .layout7 .multiple .circle {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  -ms-border-radius: 25;
  -o-border-radius: 25;
  border-radius: 25;
  width: 50px;
  height: 50px;
}

/* line 554, ../sass/layout.scss */
.blank-galaxy .grid__device {
  width: 271px;
  margin-left: 14px;
}
/* line 558, ../sass/layout.scss */
.blank-galaxy .layout0 div {
  height: 536px;
}
/* line 561, ../sass/layout.scss */
.blank-galaxy .layout1 div {
  height: 134px;
}
/* line 564, ../sass/layout.scss */
.blank-galaxy .layout1 .multiple div {
  height: 67px;
}
/* line 567, ../sass/layout.scss */
.blank-galaxy .layout2 .slot {
  height: 266px;
}
/* line 571, ../sass/layout.scss */
.blank-galaxy .layout3 .slot_top div,
.blank-galaxy .layout3 .slot_bot div {
  height: 196px;
}
/* line 577, ../sass/layout.scss */
.blank-galaxy .layout4 .slot_top .slot,
.blank-galaxy .layout4 .slot_bot .slot,
.blank-galaxy .layout4 .slot_top div,
.blank-galaxy .layout4 .slot_bot div {
  height: 167px;
}
/* line 580, ../sass/layout.scss */
.blank-galaxy .layout4 .slot_mid div {
  height: 200px;
}
/* line 583, ../sass/layout.scss */
.blank-galaxy .layout5 div .single {
  height: 151px;
}
/* line 586, ../sass/layout.scss */
.blank-galaxy .layout6 div {
  height: 89px;
}
/* line 589, ../sass/layout.scss */
.blank-galaxy .layout7 .block {
  height: 178px;
}
