/* TRANSITION */
/* line 3, ../sass/layout.scss */
.slot_bg {
  background: #f3f3f3;
}

/* line 7, ../sass/layout.scss */
.black .slot_bg {
  background: #363636;
}

/* line 37, ../sass/_base.scss */
.layout0:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 13, ../sass/layout.scss */
.layout0 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  height: 548px;
  margin: 0 -1px 0 0;
}
/* line 21, ../sass/layout.scss */
.layout0 div img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 37, ../sass/_base.scss */
.layout1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 31, ../sass/layout.scss */
.layout1 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  height: 137px;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 41, ../sass/layout.scss */
.layout1 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 46, ../sass/layout.scss */
.layout1 div:nth-child(2n+2) {
  border-right: 0;
}
/* line 50, ../sass/layout.scss */
.layout1 div:last-child, .layout1 div:nth-last-child(2) {
  border-bottom: 0;
}
/* line 54, ../sass/layout.scss */
.layout1 .multiple {
  margin-left: 1px;
  width: 100%;
  border: 0;
}
/* line 58, ../sass/layout.scss */
.layout1 .multiple div {
  height: 70px;
}

/* line 64, ../sass/layout.scss */
.layout2 {
  position: relative;
}
/* line 37, ../sass/_base.scss */
.layout2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 67, ../sass/layout.scss */
.layout2 .slot {
  height: 270px;
  position: relative;
  overflow: hidden;
}
/* line 72, ../sass/layout.scss */
.layout2 .slot:first-child {
  border-bottom: 1px solid #61bfda;
}
/* line 77, ../sass/layout.scss */
.layout2 .slot:nth-last-child(2) .pencil,
.layout2 .slot:nth-last-child(2) .delete {
  top: 100%;
  margin-top: -30px;
}
/* line 82, ../sass/layout.scss */
.layout2 .accent-circle {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -75px;
  overflow: hidden;
}
/* line 93, ../sass/layout.scss */
.layout2 .accent-circle:hover, .layout2 .accent-circle.edit_mode_on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 96, ../sass/layout.scss */
.layout2 .accent-circle.empty {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
}
/* line 100, ../sass/layout.scss */
.layout2 .accent-square {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -75px;
  overflow: hidden;
}
/* line 111, ../sass/layout.scss */
.layout2 .accent-square:hover, .layout2 .accent-square.edit_mode_on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 114, ../sass/layout.scss */
.layout2 .accent-square.empty {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* line 121, ../sass/layout.scss */
.layout3 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 130, ../sass/layout.scss */
.layout3 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 138, ../sass/layout.scss */
.layout3 .slot_top,
.layout3 .slot_mid,
.layout3 .slot_bot {
  width: 100%;
  border: 0;
}
/* line 145, ../sass/layout.scss */
.layout3 .slot_top .slot,
.layout3 .slot_bot .slot,
.layout3 .slot_top div,
.layout3 .slot_bot div {
  width: 65%;
}
/* line 149, ../sass/layout.scss */
.layout3 .slot_top div,
.layout3 .slot_bot div {
  height: 200px;
  width: 35%;
}
/* line 152, ../sass/layout.scss */
.layout3 .slot_top div:last-child,
.layout3 .slot_bot div:last-child {
  border-right: 0;
}
/* line 157, ../sass/layout.scss */
.layout3 .slot_mid,
.layout3 .slot_mid div {
  height: 142px;
}
/* line 159, ../sass/layout.scss */
.layout3 .slot_mid:last-child,
.layout3 .slot_mid div:last-child {
  border-right: 0;
}
/* line 163, ../sass/layout.scss */
.layout3 .slot_bot div {
  border-bottom: 0;
}
/* line 165, ../sass/layout.scss */
.layout3 .slot_bot div .multiple div:first-child {
  border-bottom: 1px solid #61bfda;
}
/* line 169, ../sass/layout.scss */
.layout3 .multiple {
  margin-left: 1px;
  width: 100%!important;
  border: 0;
}
/* line 173, ../sass/layout.scss */
.layout3 .multiple div {
  width: 100%;
  height: 50%!important;
}

/* line 181, ../sass/layout.scss */
.layout4 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
  margin: 0 -1px 0 0;
}
/* line 190, ../sass/layout.scss */
.layout4 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 198, ../sass/layout.scss */
.layout4 .slot_top,
.layout4 .slot_mid,
.layout4 .slot_bot {
  width: 100%;
  border: 0;
}
/* line 205, ../sass/layout.scss */
.layout4 .slot_top .slot,
.layout4 .slot_bot .slot,
.layout4 .slot_top div,
.layout4 .slot_bot div {
  height: 160px;
}
/* line 210, ../sass/layout.scss */
.layout4 .slot_top div:nth-child(2n+2),
.layout4 .slot_bot div:nth-child(2n+2) {
  border-right: 0;
}
/* line 214, ../sass/layout.scss */
.layout4 .slot_mid div {
  height: 222px;
  width: 100%;
  border-right: 0;
}
/* line 219, ../sass/layout.scss */
.layout4 .slot_bot div {
  border-bottom: 0;
}
/* line 223, ../sass/layout.scss */
.layout4 .slot_bot .multiple div:first-child,
.layout4 .slot_bot .multiple div:nth-child(2) {
  border-bottom: 1px solid #61bfda;
}
/* line 226, ../sass/layout.scss */
.layout4 .multiple {
  margin-left: 1px;
  width: 100%!important;
  border: 0;
}
/* line 230, ../sass/layout.scss */
.layout4 .multiple div {
  width: 50%;
  height: 50%!important;
}

/* line 238, ../sass/layout.scss */
.layout5 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
}
/* line 246, ../sass/layout.scss */
.layout5 div img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 251, ../sass/layout.scss */
.layout5 div .single {
  height: 154px;
  width: 100%;
}
/* line 255, ../sass/layout.scss */
.layout5 div .multiple {
  width: 100%;
}
/* line 37, ../sass/_base.scss */
.layout5 div .multiple:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 258, ../sass/layout.scss */
.layout5 div .multiple:last-child {
  border-bottom: 0;
}
/* line 262, ../sass/layout.scss */
.layout5 div .multiple div {
  height: 77px;
  width: 50%;
  float: left;
}
/* line 266, ../sass/layout.scss */
.layout5 div .multiple div:nth-child(2n+2) {
  border-right: 0;
}
/* line 270, ../sass/layout.scss */
.layout5 div .multiple div:last-child, .layout5 div .multiple div:nth-last-child(2) {
  border-bottom: 0;
}
/* line 275, ../sass/layout.scss */
.layout5 .col {
  border: 0;
}
/* line 278, ../sass/layout.scss */
.layout5 .col:last-child .single {
  border-right: 0;
}
/* line 280, ../sass/layout.scss */
.layout5 .col:last-child .single:last-child {
  border: 0;
}
/* line 284, ../sass/layout.scss */
.layout5 .col:last-child .multiple {
  border-right: 0;
}
/* line 287, ../sass/layout.scss */
.layout5 .col:last-child .multiple div:last-child {
  border-right: 0;
}

/* line 295, ../sass/layout.scss */
.layout6 div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  float: left;
  width: 25%;
  height: 90px;
  border-right: 1px solid #61bfda;
  border-bottom: 1px solid #61bfda;
}
/* line 304, ../sass/layout.scss */
.layout6 div:nth-child(4n+4) {
  border-right: 0;
}
/* line 310, ../sass/layout.scss */
.layout6 div:last-child, .layout6 div:nth-last-child(2), .layout6 div:nth-last-child(3), .layout6 div:nth-last-child(4) {
  border-bottom: 0;
}
/* line 313, ../sass/layout.scss */
.layout6 div img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 322, ../sass/layout.scss */
.layout7 .block {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  height: 180px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 15px;
}
/* line 330, ../sass/layout.scss */
.layout7 .circle {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 150px;
  height: 150px;
  border: 1px solid #61bfda;
  position: relative;
  overflow: hidden;
}
/* line 338, ../sass/layout.scss */
.layout7 .circle:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 342, ../sass/layout.scss */
.layout7 .multiple {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 150px;
}
/* line 345, ../sass/layout.scss */
.layout7 .multiple .circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  display: block;
  overflow: hidden;
}
/* line 351, ../sass/layout.scss */
.layout7 .multiple .circle:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 354, ../sass/layout.scss */
.layout7 .multiple .circle:last-child {
  margin-top: 20px;
}

/*devices*/
/* line 364, ../sass/layout.scss */
.blank-iphone5 .grid__device {
  width: 263px;
  margin-left: 14px;
}
/* line 368, ../sass/layout.scss */
.blank-iphone5 .layout0 div {
  height: 540px;
}
/* line 371, ../sass/layout.scss */
.blank-iphone5 .layout1 div {
  height: 135px;
}
/* line 374, ../sass/layout.scss */
.blank-iphone5 .layout1 .multiple div {
  height: 70px;
}

/* line 380, ../sass/layout.scss */
.blank-iphone4 .grid__device {
  width: 263px;
  margin-left: 14px;
}
/* line 384, ../sass/layout.scss */
.blank-iphone4 .layout0 div {
  height: 504px;
}
/* line 387, ../sass/layout.scss */
.blank-iphone4 .layout1 div {
  height: 126px;
}
/* line 390, ../sass/layout.scss */
.blank-iphone4 .layout1 .multiple div {
  height: 65px;
}
/* line 393, ../sass/layout.scss */
.blank-iphone4 .layout2 .slot {
  height: 251px;
}
/* line 397, ../sass/layout.scss */
.blank-iphone4 .layout3 .slot_top div,
.blank-iphone4 .layout3 .slot_bot div {
  height: 180px;
}
/* line 403, ../sass/layout.scss */
.blank-iphone4 .layout4 .slot_top .slot,
.blank-iphone4 .layout4 .slot_bot .slot,
.blank-iphone4 .layout4 .slot_top div,
.blank-iphone4 .layout4 .slot_bot div {
  height: 150px;
}
/* line 406, ../sass/layout.scss */
.blank-iphone4 .layout4 .slot_mid div {
  height: 202px;
}
/* line 409, ../sass/layout.scss */
.blank-iphone4 .layout5 div .single {
  height: 135px;
}
/* line 412, ../sass/layout.scss */
.blank-iphone4 .layout6 div {
  height: 84px;
}
/* line 415, ../sass/layout.scss */
.blank-iphone4 .layout7 .block {
  height: 162px;
}

/* line 427, ../sass/layout.scss */
.blank-ipad #img_result {
  margin-left: 13px;
}
/* line 430, ../sass/layout.scss */
.blank-ipad .grid__device {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 321px;
  margin-left: 14px;
}
/* line 435, ../sass/layout.scss */
.blank-ipad .layout0 div {
  height: 472px;
}
/* line 438, ../sass/layout.scss */
.blank-ipad .layout1 div {
  height: 118px;
}
/* line 441, ../sass/layout.scss */
.blank-ipad .layout1 .multiple div {
  height: 59px;
}
/* line 444, ../sass/layout.scss */
.blank-ipad .layout2 .slot {
  height: 233px;
}
/* line 448, ../sass/layout.scss */
.blank-ipad .layout3 .slot_top div,
.blank-ipad .layout3 .slot_bot div {
  height: 164px;
}
/* line 454, ../sass/layout.scss */
.blank-ipad .layout4 .slot_top .slot,
.blank-ipad .layout4 .slot_bot .slot,
.blank-ipad .layout4 .slot_top div,
.blank-ipad .layout4 .slot_bot div {
  height: 144px;
}
/* line 457, ../sass/layout.scss */
.blank-ipad .layout4 .slot_mid div {
  height: 179px;
}
/* line 460, ../sass/layout.scss */
.blank-ipad .layout5 div .single {
  height: 118px;
}
/* line 463, ../sass/layout.scss */
.blank-ipad .layout6 div {
  height: 78px;
}
/* line 466, ../sass/layout.scss */
.blank-ipad .layout7 .block {
  height: 156px;
}
/* line 469, ../sass/layout.scss */
.blank-ipad .layout7 .circle {
  -webkit-border-radius: 65;
  -moz-border-radius: 65;
  -ms-border-radius: 65;
  -o-border-radius: 65;
  border-radius: 65;
  width: 130px;
  height: 130px;
}
/* line 474, ../sass/layout.scss */
.blank-ipad .layout7 .multiple .circle {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  -ms-border-radius: 28;
  -o-border-radius: 28;
  border-radius: 28;
  width: 56px;
  height: 56px;
}

/* line 482, ../sass/layout.scss */
.blank-ipad_mini .grid__device {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 291px;
  margin-left: 14px;
}
/* line 487, ../sass/layout.scss */
.blank-ipad_mini .layout0 div {
  height: 416px;
}
/* line 490, ../sass/layout.scss */
.blank-ipad_mini .layout1 div {
  height: 104px;
}
/* line 493, ../sass/layout.scss */
.blank-ipad_mini .layout1 .multiple div {
  height: 52px;
}
/* line 496, ../sass/layout.scss */
.blank-ipad_mini .layout2 .slot {
  height: 208px;
}
/* line 500, ../sass/layout.scss */
.blank-ipad_mini .layout3 .slot_top div,
.blank-ipad_mini .layout3 .slot_bot div {
  height: 137px;
}
/* line 506, ../sass/layout.scss */
.blank-ipad_mini .layout4 .slot_top .slot,
.blank-ipad_mini .layout4 .slot_bot .slot,
.blank-ipad_mini .layout4 .slot_top div,
.blank-ipad_mini .layout4 .slot_bot div {
  height: 130px;
}
/* line 509, ../sass/layout.scss */
.blank-ipad_mini .layout4 .slot_mid div {
  height: 157px;
}
/* line 512, ../sass/layout.scss */
.blank-ipad_mini .layout5 div .single {
  height: 92px;
}
/* line 515, ../sass/layout.scss */
.blank-ipad_mini .layout6 div {
  height: 70px;
}
/* line 518, ../sass/layout.scss */
.blank-ipad_mini .layout7 .block {
  height: 133px;
}
/* line 521, ../sass/layout.scss */
.blank-ipad_mini .layout7 .circle {
  -webkit-border-radius: 55;
  -moz-border-radius: 55;
  -ms-border-radius: 55;
  -o-border-radius: 55;
  border-radius: 55;
  width: 110px;
  height: 110px;
}
/* line 526, ../sass/layout.scss */
.blank-ipad_mini .layout7 .multiple .circle {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  -ms-border-radius: 25;
  -o-border-radius: 25;
  border-radius: 25;
  width: 50px;
  height: 50px;
}

/* line 534, ../sass/layout.scss */
.blank-galaxy .grid__device {
  width: 271px;
  margin-left: 14px;
}
/* line 538, ../sass/layout.scss */
.blank-galaxy .layout0 div {
  height: 536px;
}
/* line 541, ../sass/layout.scss */
.blank-galaxy .layout1 div {
  height: 134px;
}
/* line 544, ../sass/layout.scss */
.blank-galaxy .layout1 .multiple div {
  height: 67px;
}
/* line 547, ../sass/layout.scss */
.blank-galaxy .layout2 .slot {
  height: 266px;
}
/* line 551, ../sass/layout.scss */
.blank-galaxy .layout3 .slot_top div,
.blank-galaxy .layout3 .slot_bot div {
  height: 196px;
}
/* line 557, ../sass/layout.scss */
.blank-galaxy .layout4 .slot_top .slot,
.blank-galaxy .layout4 .slot_bot .slot,
.blank-galaxy .layout4 .slot_top div,
.blank-galaxy .layout4 .slot_bot div {
  height: 167px;
}
/* line 560, ../sass/layout.scss */
.blank-galaxy .layout4 .slot_mid div {
  height: 200px;
}
/* line 563, ../sass/layout.scss */
.blank-galaxy .layout5 div .single {
  height: 151px;
}
/* line 566, ../sass/layout.scss */
.blank-galaxy .layout6 div {
  height: 89px;
}
/* line 569, ../sass/layout.scss */
.blank-galaxy .layout7 .block {
  height: 178px;
}
