/* TRANSITION */
@-webkit-keyframes rotate {
  /* line 4, ../sass/store.scss */
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }

  /* line 8, ../sass/store.scss */
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}

@-moz-keyframes rotate {
  /* line 14, ../sass/store.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 17, ../sass/store.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 22, ../sass/store.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 25, ../sass/store.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

/* line 30, ../sass/store.scss */
.prepared {
  background: transparent url(../img/prepared-bg.jpg) 50% 50% repeat;
  background-size: cover;
  height: 540px;
}

/* line 36, ../sass/store.scss */
.create_promotion {
  color: #fff;
  width: 100%;
  margin-bottom: 30px;
}
/* line 40, ../sass/store.scss */
.create_promotion .cell {
  background: rgba(0, 0, 0, 0.1);
  height: 75px;
  text-align: center;
  vertical-align: middle;
}
/* line 47, ../sass/store.scss */
.create_promotion h2,
.create_promotion span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0;
}
/* line 51, ../sass/store.scss */
.create_promotion span {
  padding: 0 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 58, ../sass/store.scss */
.loadmore {
  padding: 10px 0;
  background: #262626;
  text-align: center;
}

/* line 64, ../sass/store.scss */
.loading {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url('../img/common-s7b16feaa36.png') -124px -49px no-repeat;
  width: 18px;
  height: 18px;
  -moz-animatiom: rotate 1s linear 0s infinite normal none;
  -webkit-animation: rotate 1s linear 0s infinite normal none;
  -o-animation: rotate 1s linear 0s infinite normal none;
  animation: rotate 1s linear 0s infinite normal none;
}

/* line 70, ../sass/store.scss */
.button.load_button {
  width: 170px;
  text-align: center;
  border: 0;
  background: #4f4f4f;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -2px 1px #434343;
  -moz-box-shadow: inset 0 -2px 1px #434343;
  box-shadow: inset 0 -2px 1px #434343;
}
/* line 77, ../sass/store.scss */
.button.load_button i {
  display: none;
}
/* line 81, ../sass/store.scss */
.button.load_button.active span {
  display: none;
}
/* line 84, ../sass/store.scss */
.button.load_button.active i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 92, ../sass/store.scss */
.case {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  width: 136px;
  height: 269px;
}
/* line 97, ../sass/store.scss */
.case .case-shadow {
  background: transparent url("../img/case-shadow.png") 0 0 no-repeat;
  width: 136px;
  height: 269px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 105, ../sass/store.scss */
.case .case-img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  width: 120px;
  height: 246px;
  position: absolute;
  top: 0;
  left: 8px;
  overflow: hidden;
}
/* line 113, ../sass/store.scss */
.case .case-img img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  min-width: 120px;
  min-height: 246px;
}

/* line 37, ../sass/_base.scss */
.case_list .wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 125, ../sass/store.scss */
.case_list .items_row {
  border-bottom: 1px solid #dedede;
}

/* line 130, ../sass/store.scss */
.case_item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  float: left;
  margin-left: -1px;
  vertical-align: top;
  text-align: center;
  width: 219px;
  height: 380px;
  border: 1px solid #dedede;
  border-bottom: 0;
  border-top: 0;
  color: #a5a5a5;
}
/* line 143, ../sass/store.scss */
.case_item p {
  padding: 0;
}
/* line 146, ../sass/store.scss */
.case_item p span {
  color: #2f2f2f;
}
/* line 149, ../sass/store.scss */
.case_item .case {
  margin-top: 20px;
}
/* line 152, ../sass/store.scss */
.case_item .button {
  visibility: hidden;
  margin-top: 12px;
}
/* line 156, ../sass/store.scss */
.case_item .ribbon {
  position: absolute;
  top: 160px;
  left: 18px;
  display: none;
}
/* line 161, ../sass/store.scss */
.case_item .ribbon .in {
  background: url('../img/common-s7b16feaa36.png') 0 -591px no-repeat;
  width: 185px;
  height: 83px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 40px;
  width: 105px;
}
/* line 168, ../sass/store.scss */
.case_item .ribbon span {
  font-size: 12px;
}
/* line 171, ../sass/store.scss */
.case_item .ribbon h3 {
  color: #fff;
}
/* line 175, ../sass/store.scss */
.case_item:hover {
  background: #fff;
}
/* line 177, ../sass/store.scss */
.case_item:hover .button {
  visibility: visible;
}
/* line 180, ../sass/store.scss */
.case_item:hover p {
  display: none;
}
/* line 183, ../sass/store.scss */
.case_item:hover .ribbon {
  display: table;
}

/* line 189, ../sass/store.scss */
.bigcase_item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  float: left;
  vertical-align: top;
  text-align: center;
  border-bottom: 0;
  border-top: 0;
  color: #fff;
  width: 610px;
  height: 435px;
  text-align: left;
  padding-right: 50px;
}
/* line 37, ../sass/_base.scss */
.bigcase_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 203, ../sass/store.scss */
.bigcase_item .bigcase {
  float: left;
  margin-left: 32px;
  margin-right: 22px;
  width: 227px;
  height: 435px;
  position: relative;
}
/* line 211, ../sass/store.scss */
.bigcase_item .case-shadow {
  background: transparent url("../img/bigcase-shadow.png") 0 0 no-repeat;
  width: 227px;
  height: 444px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 219, ../sass/store.scss */
.bigcase_item .case-img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  width: 192px;
  height: 397px;
  overflow: hidden;
  margin: 0 0 0 18px;
}
/* line 226, ../sass/store.scss */
.bigcase_item h1 {
  line-height: 1.3;
  padding-top: 15px;
  padding-bottom: 18px;
}
/* line 230, ../sass/store.scss */
.bigcase_item h1 a {
  color: #fff;
}
/* line 232, ../sass/store.scss */
.bigcase_item h2 {
  line-height: 1.3;
  padding-bottom: 23px;
}
/* line 236, ../sass/store.scss */
.bigcase_item p {
  padding-bottom: 18px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 242, ../sass/store.scss */
.bg_black .case_item {
  border-color: #252525;
  color: #6f6f6f;
}
/* line 245, ../sass/store.scss */
.bg_black .case_item p span {
  color: #ccc;
}
/* line 248, ../sass/store.scss */
.bg_black .case_item:hover {
  background: #262626;
}

/* line 253, ../sass/store.scss */
.bg_transparent .case_item {
  margin: 0;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.07);
  color: #fff;
}
/* line 258, ../sass/store.scss */
.bg_transparent .case_item p span {
  color: #fff;
}
/* line 261, ../sass/store.scss */
.bg_transparent .case_item:hover {
  background: transparent;
}

/* line 266, ../sass/store.scss */
.prepared {
  color: #fff;
}
